* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.system-font-stack {
    font-family: Arial, Helvetica, sans-serif;
}

/*navbar*/
.topnav {
    font-family: "logic-monospace", mono;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
    padding: 1em;

}

.topnav a:link {
    color: rgb(21, 63, 55);
    text-decoration: none;
}
.topnav a:visited{
    color: rgb(46, 99, 78);  
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a:active {
    background-color: #a1cbcd;
    color: white;
}


.ulnav {
    list-style-type: none;
}

.linav {
    display: inline;
    padding: 1em;
}


/*headings*/
h1 {
    font-family: "logic-monoscript", mono;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    color: rgb(21, 63, 55);
    font-size: 4em;
}

h2 {
    font-family: "logic-monoscript", mono;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    color: rgb(21, 63, 55);
    font-size: 3em;
    padding: 1em;
}

h3 {
    font-family: "logic-monoscript", mono;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    color: rgb(21, 63, 55);
    padding: 1em;

}

p {
    margin-left: auto;
    margin-right: auto;
    font-family: "logic-monospace", monospace;
    font-weight: 500;
    font-style: normal;

    color: rgb(21, 63, 55);
    padding: 4em;
}

.columns {
    columns: 2 300px;
    column-gap: 2em;
    margin-bottom: 1.25rem;
    padding:3rem;
    /*use column gap in combination with the container will give the illusion of padding */
}

li {
    text-indent: 4rem;
    line-height: 1.75rem;
    padding: .5em;
    font-family: "logic-monospace", mono;
    font-weight: 500;
    font-style: normal;
    color: rgb(21, 63, 55);
}

/*threephotogrid*/
.threephotogrid-container {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

.grid-figureone {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.grid-figuretwo {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    margin: 0 auto;
    padding-right: 0em;
}

.grid-figurethree {
    grid-column: 2/3;
    grid-row: 3/2;
    width: 100%;
    margin: 0 auto;
    padding-left: 0em;
}

.teaching-grid-figureone {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
}

.teaching-grid-figuretwo {
    grid-column: 2/3;
    grid-row: 3/2;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
}

footer {
    font-family: "logic-monospace", mono;
    font-weight: 500;
    font-style: normal;
    color: rgb(21, 63, 55);
    padding: 1rem;
    max-width: 35rem;
}
.footerimage {
    width: 100%;
}
/*mediaqueries*/
@media screen and (min-width: 43rem) {
    .columns{
       columns: 2;

   }

}