* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.system-font-stack {
    font-family: Arial, Helvetica, sans-serif;
}

/*navbar*/
.topnav {
    background-color: rgb(37, 32, 79);
    font-family: "nobel", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    padding: 1em;

}

.topnav a {
    color: rgb(246, 184, 213);
    text-decoration: none;

}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #db9be5;
    color: white;
}

ul {
    list-style-type: none;
}

/*heroimage*/
.hero-image {
    width: 100%;
}

/*headings*/
h1 {
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 1em;
}
h2{
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    padding: 1em;  
}
h3{
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    padding: 1em;   
}

/*threephotogrid*/
.threephotogrid-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

.grid-figureone {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    width: 100%;
    margin: 0 auto;


}

.grid-figuretwo {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    margin: 0 auto;
    padding-right: 5em;
}

.grid-figurethree {
    grid-column: 2/3;
    grid-row: 3/2;
    width: 100%;
    margin: 0 auto;
    padding-left: 5em;
}